body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 100px;
    text-decoration: underline;
}

hr {
    width: 50%;
    margin: 0 auto;
}
 .fa-twitter:before {
     font-size: 20px;
 }

button {
    padding: 5px 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
}
#getRandomQuote {
    float: right;
}

.quoteContainer {
    height: 200px;
    margin: 50px auto;
    width: 50%;
    border-radius: 5px;
    position: relative;
}

.innerContainer {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#quoteContent {
    font-size: 24px;
    text-align: center;
}
#quoteAuthor {
    font-size: 20px;
    text-align: right;
    margin-right: 20px;
}
.buttonContainer {
    margin: 20px auto;
    width: 50%;
}

footer {
    text-align: center;
    margin-top: 150px;
}
@media(max-width: 600px) {
    body, html {
        margin: 0;
        padding: 0;
        font-family: 'Lato', sans-serif;
    }
    
    h1 {
        text-align: center;
        margin-bottom: 100px;
        text-decoration: underline;
    }
    
    hr {
        width: 80%;
        margin: 0 auto;
    }
    
    button {
        padding: 5px 10px;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        outline: none;
    }
    #getRandomQuote {
        float: right;
    }
    .quoteContainer {
        height: 200px;
        margin: 50px auto;
        width: 80%;
        border-radius: 5px;
        position: relative;
    }
    
    .innerContainer {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    #quoteContent {
        font-size: 24px;
        text-align: center;
    }
    #quoteAuthor {
        font-size: 20px;
        text-align: right;
        margin-right: 20px;
    }
    .buttonContainer {
        margin: 20px auto;
        width: 80%;
    }
    footer {
        text-align: center;
        margin-top: 100px;
    }
}